Makefile
alist.o
config.h
config.log
config.o
config.status
doc/Makefile
doc/images/Makefile
exif.o
flash.o
icon/Makefile
image.o
libzphoto.a
m4/Makefile
main.o
po/Makefile
po/Makefile.in
po/POTFILES
progress.o
stamp-h1
support/.deps/
support/Makefile
support/libsupport.a
template.o
templates/Makefile
templates/default/Makefile
templates/default/all/.photo.html
templates/default/all/Makefile
templates/default/all/css-colors.txt
templates/default/all/flash-colors.txt
templates/default/all/index.html.en
templates/default/all/index.html.ja
templates/default/all/noflash.html.en
templates/default/all/noflash.html.ja
templates/default/all/zoom.js.en
templates/default/all/zoom.js.ja
templates/default/all/zphoto.css
templates/default/en/Makefile
templates/default/ja/Makefile
tmp.o
util.o
zphoto
zphoto.o
